#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
#.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
#*.tar
#*.gz
#*.bz2
#*.lzma
#*.xz
#*.lz4
#*.lzo
*.patch
*.gcno
modules.builtin
Module.symvers
*.dwo
compile_commands.json

#
# files
#
applets/Kbuild
applets/applet_tables
applets/usage
applets/usage_pod
archival/Config.in
archival/Kbuild
archival/libarchive/Kbuild
#busybox
busybox.links
busybox_unstripped
busybox_unstripped.map
busybox_unstripped.out
console-tools/Config.in
console-tools/Kbuild
coreutils/Config.in
coreutils/Kbuild
coreutils/libcoreutils/Kbuild
debianutils/Config.in
debianutils/Kbuild
docs/BusyBox.html
docs/BusyBox.txt
docs/busybox.1
docs/busybox.net/
docs/busybox.pod
e2fsprogs/Config.in
e2fsprogs/Kbuild
editors/Config.in
editors/Kbuild
findutils/Config.in
findutils/Kbuild
include/NUM_APPLETS.h
include/applet_tables.h
include/applets.h
include/autoconf.h
include/bbconfigopts.h
include/bbconfigopts_bz2.h
include/common_bufsiz.h
include/common_bufsiz.h.method
include/usage.h
include/usage_compressed.h
init/Config.in
init/Kbuild
klibc-utils/Config.in
klibc-utils/Kbuild
libbb/Config.in
libbb/Kbuild
libpwdgrp/Kbuild
loginutils/Config.in
loginutils/Kbuild
mailutils/Config.in
mailutils/Kbuild
miscutils/Config.in
miscutils/Kbuild
modutils/Config.in
modutils/Kbuild
networking/Config.in
networking/Kbuild
networking/libiproute/Kbuild
networking/udhcp/Config.in
networking/udhcp/Kbuild
printutils/Config.in
printutils/Kbuild
procps/Config.in
procps/Kbuild
runit/Config.in
runit/Kbuild
scripts/Kbuild
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/lxdialog/lxdialog
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
selinux/Config.in
selinux/Kbuild
shell/Config.in
shell/Kbuild
sysklogd/Config.in
sysklogd/Kbuild
util-linux/Config.in
util-linux/Kbuild
util-linux/volume_id/Config.in
util-linux/volume_id/Kbuild
include/config/*
_install_rootfs/*
